body {
	width: 960px;
	max-width: 100%;
	margin: auto;
}
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
ul {
	list-style-type: none;
	margin: 0 0 0 10px;
	padding: 0;
	width: 100%;  
}
.navbar {
	height: 40px;
	width: 95%;
	margin-right: 10%;
	padding-right: 30px;
}

.bar {
	font-size: 16px;
	display: block;
	float: right;
	max-width: 120px;
	text-align: center;
	color: black;
	margin: 0 0 0 10px;
	padding: 2px 2px 2px 2px;
	border-radius: 3px;
}


a:hover, a:active {
	background-color: #edeeee;
}

h1 {
	font-family: 'Lato', sans-serif;
	text-align: right;
	text-transform: uppercase; 
	padding-right: 5%;
	color: #bcbbbb;
	/*from http://www.w3schools.com/cssref/pr_text_text-transform.asp*/
}
h2 {
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 5px;
	color: #bcbbbb;
}
h3 {
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	margin-top: 2px;
}
h4 {
	font-family: 'Lato', sans-serif;
	text-align: center;
	color: #bcbbbb;
	text-transform: uppercase;
}
p {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	padding-right: 5%;
	color: #669900;
	/*http://www.w3schools.com/tags/ref_colorpicker.asp*/
}
a {
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	font-size: 8px;
	margin-top: 2px;
	position: relative;
	color: #669900;
}
img {
	margin: auto;
}
.row1 {
	width: 100%;
	display: flex;
	border-bottom-color: #999;
	border-bottom: solid #bcbbbb;
	margin-bottom: 15px;
	margin-top: 5px;
	/*http://www.w3schools.com/cssref/pr_border-bottom.asp*/
}
.row {
	max-width: 100%;
	display: flex;
	text-align: center;

}
.row2 {
	width: 100%;
    text-align: center;
    overflow: hidden;
    /*http://www.sitepoint.com/understanding-block-formatting-contexts-in-css/*/
}
.navimage {
	float: right;
	text-align: center;
	padding-left: 5px;
}
.col-2 {
    width: 16.66%;
    padding: 16px 5px 0 5%;
}
.col-4 {
    width: 33.33%;
}
.col-6 {
    width: 50%;
}
.col-10 {
	width: 84.33%;
	text-align: right;
}
.col-12 {
    width: 100%;
    font-size: 30px;
}

@media only screen and (max-width: 960px) {
	.row {
		display: block;
	}
	.col-4 {
		padding-bottom: 15px;
		width: 100%;
	}
}
